ARRIVAL_LABEL_PRINT_API_URL=https://ops.neontrip.de
ARRIVAL_LABEL_PRINT_API_TOKEN=
ARRIVAL_LABEL_PRINT_CF_ACCESS_CLIENT_ID=
ARRIVAL_LABEL_PRINT_CF_ACCESS_CLIENT_SECRET=
ARRIVAL_LABEL_PRINT_WORKER_ID=office-delivery-note-worker-01
ARRIVAL_LABEL_PRINTER_KEY=shipping-a4-delivery-note
ARRIVAL_LABEL_CUPS_PRINTER=
ARRIVAL_LABEL_PRINT_MEDIA=
ARRIVAL_LABEL_PRINT_POLL_SECONDS=15
ARRIVAL_LABEL_PRINT_CONFIRM_SECONDS=120
