<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>{{LABEL}}</string>
  <key>ProgramArguments</key>
  <array>
    <string>{{NODE_PATH}}</string>
    <string>--import</string>
    <string>tsx</string>
    <string>{{RUNNER_PATH}}</string>
    <string>--kind</string>
    <string>{{KIND}}</string>
    <string>--acknowledge-production-write</string>
  </array>
  <key>WorkingDirectory</key>
  <string>{{WORKING_DIRECTORY}}</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>HOME</key><string>{{HOME}}</string>
    <key>NEONTRIP_KEYCHAIN_ACCOUNT</key><string>{{KEYCHAIN_ACCOUNT}}</string>
    <key>NEONTRIP_OPS_BASE_URL</key><string>{{OPS_BASE_URL}}</string>
    <key>ARRIVAL_LABEL_PRINT_LIVE_ENABLED</key><string>true</string>
{{CF_CLIENT_ID_ENV}}
  </dict>
  <key>KeepAlive</key><true/>
  <key>RunAtLoad</key><true/>
  <key>ThrottleInterval</key><integer>10</integer>
  <key>StandardOutPath</key><string>{{STDOUT_PATH}}</string>
  <key>StandardErrorPath</key><string>{{STDERR_PATH}}</string>
  <key>ProcessType</key><string>Background</string>
</dict>
</plist>
